body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.container{
    display: flex;
    gap:100px;
}

.grid{
    display: flex;
    flex-direction: column;
    background-color: #fefefe;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    min-height: 500px;
    min-width: 500px;
}
.toolbox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:40px
}


button{
    background-color: #f06449;
    font-size: 40px;
    color: #ede6e3;
    border-radius: 12px;
    border-color: #36382e;
    padding: 20px 40px;  
    font-family: Georgia, 'Times New Roman', Times, serif;
}

button:hover{
    background-color: #B64E39;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}




input{
    height: 30px;
    width: 30px;
    margin: 20px;
}

label{
    font-size: 40px;
}