body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container{
    border:solid;
    display: flex;
    gap:32px;
}

.grid{
    display: flex;
    flex-direction: column;
    height: 960px;
    width: 960px;
}


.griditem{

    background-color: pink;
}

.hovering{

    background-color: yellow;
}